<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="ImageServerConnectString"
				connectionString="Data Source=server\mssqlserver2008;Initial Catalog=imageserver;MultipleActiveResultSets=True;Persist Security Info=True;User ID=sa;Password=Db2011" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

